<!-- Footer -->
<footer class="footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                      <a class="nav-link " href="{{url_for('home')}}">HOME</a></li>
                  
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
          <a class="nav-link" href="{{url_for('about')}}">ABOUT</a></li>
                        
                </li>

                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
         <a class="nav-link" href="{{url_for('gallery')}}">GALLERY</a></li>
                        
                </li>
                
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
          <a class="nav-link" href="{{url_for('contact')}}">CONTACT</a></li>
                        
                </li>
                
               
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">&copy; made by sydney nsiimbe.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-facebook fa-2x fa-fw">facebook</i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-twitter-square fa-2x fa-fw">twitter</i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-instagram fa-2x fa-fw">instagram</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  