{% extends 'layout.html' %}
{% block header %}

<div class="jumbotron-fluid  "  >
    <h2 class="display-4" style="margin-left:40%;padding-top: 5%;" >
       glallery
    </h2>
    <div class="container" style="width: 80%;margin: auto;align-content: center;padding-top: 5%;">
      <img src="{{url_for('static',filename='img/1.jpg')}}" style="height:400px;width: 100%;">

        

    </div>
    
</div>
<hr class="" style="color: rgb(7, 241, 163); margin-top: 10%; margin-bottom: 10%">

{% endblock %}