{% extends 'layout.html' %}
{% block header %}

<div class="jumbotron-fluid"  >
    <h2 class="display-4" style="margin-left:40%;padding-top: 5%;">
        sydney
    </h2>
    <p class="lead" style="width: 80%;margin: auto;align-content: center;padding-top: 5%;">
            “No one living has enough emotion and vigor to fight the inevitable and, at the
            same time, enough left over to create a new life. Choose one or the other. You
            can either bend with the inevitable sleetstorms of life—or you can resist them
            and break!”
            
    </p>
</div>
<hr class="" style="color: rgb(7, 241, 163); margin-top: 10%; margin-bottom: 10%; ">

{% endblock %}